:root {
  --color-slate-50: #f9fafb;
  --color-slate-100: #f4f5f7;
  --color-slate-200: #e5e7eb;
  --color-slate-300: #d2d6dc;
  --color-slate-400: #9fa6b2;
  --color-slate-500: #6b7280;
  --color-slate-600: #4b5563;
  --color-slate-700: #374151;
  --color-slate-800: #1f2937;
  --color-slate-900: #111827;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;

  display: flex;
  flex-direction: column;
}

main {
  height: 100%;

  flex-grow: 1;
}
header {
  background-color: var(--color-slate-800);
  color: var(--color-slate-50);
}
body {
  background-color: var(--color-slate-100);
}
footer {
  background-color: var(--color-slate-800);
  color: var(--color-slate-50);
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer,
main {
  padding: 1rem;
}

.primary-btn {
  background-color: var(--color-slate-600);
  color: var(--color-slate-50);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

  transition: all 0.3s;
}
.primary-btn:hover {
  background-color: var(--color-slate-900);
  color: var(--color-slate-200);
}
#js-examples {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-slate-300);
  width: max-content;
}
